UnionMall/Service References/FcubsGetService/AccountEnquiry1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service.unionbank.com/" targetNamespace="http://service.unionbank.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AccountSearchByAcctTitleAndBranchCode" type="tns:AccountSearchByAcctTitleAndBranchCode" />
  <xs:element name="AccountSearchByAcctTitleAndBranchCodeResponse" type="tns:AccountSearchByAcctTitleAndBranchCodeResponse" />
  <xs:element name="createLog" type="tns:createLog" />
  <xs:element name="createLogResponse" type="tns:createLogResponse" />
  <xs:element name="getAccounMemoInfo" type="tns:getAccounMemoInfo" />
  <xs:element name="getAccounMemoInfoResponse" type="tns:getAccounMemoInfoResponse" />
  <xs:element name="getAccountSerachByAccountNumber" type="tns:getAccountSerachByAccountNumber" />
  <xs:element name="getAccountSerachByAccountNumberResponse" type="tns:getAccountSerachByAccountNumberResponse" />
  <xs:element name="getAccountSerachByAccountTitle" type="tns:getAccountSerachByAccountTitle" />
  <xs:element name="getAccountSerachByAccountTitleResponse" type="tns:getAccountSerachByAccountTitleResponse" />
  <xs:element name="getAccountSummary" type="tns:getAccountSummary" />
  <xs:element name="getAccountSummaryANDTransactions" type="tns:getAccountSummaryANDTransactions" />
  <xs:element name="getAccountSummaryANDTransactionsResponse" type="tns:getAccountSummaryANDTransactionsResponse" />
  <xs:element name="getAccountSummaryANDTxnGeneric" type="tns:getAccountSummaryANDTxnGeneric" />
  <xs:element name="getAccountSummaryANDTxnGenericResponse" type="tns:getAccountSummaryANDTxnGenericResponse" />
  <xs:element name="getAccountSummaryByCustomerID" type="tns:getAccountSummaryByCustomerID" />
  <xs:element name="getAccountSummaryByCustomerIDResponse" type="tns:getAccountSummaryByCustomerIDResponse" />
  <xs:element name="getAccountSummaryResponse" type="tns:getAccountSummaryResponse" />
  <xs:element name="getActivityLog" type="tns:getActivityLog" />
  <xs:element name="getActivityLogResponse" type="tns:getActivityLogResponse" />
  <xs:element name="getActivityLogSpecific" type="tns:getActivityLogSpecific" />
  <xs:element name="getActivityLogSpecificResponse" type="tns:getActivityLogSpecificResponse" />
  <xs:element name="getBranchList" type="tns:getBranchList" />
  <xs:element name="getBranchListResponse" type="tns:getBranchListResponse" />
  <xs:element name="getChequeNumberInquiry" type="tns:getChequeNumberInquiry" />
  <xs:element name="getChequeNumberInquiryResponse" type="tns:getChequeNumberInquiryResponse" />
  <xs:element name="NameEnquiry" type="tns:NameEnquiry" />
  <xs:element name="NameEnquiryResponse" type="tns:NameEnquiryResponse" />
  <xs:element name="getCustomerAcctsDetail" type="tns:getCustomerAcctsDetail" />
  <xs:element name="getCustomerAcctsDetailResponse" type="tns:getCustomerAcctsDetailResponse" />
  <xs:element name="getCustomerDetails" type="tns:getCustomerDetails" />
  <xs:element name="getCustomerDetailsResponse" type="tns:getCustomerDetailsResponse" />
  <xs:element name="getCustomerDetailsWithAcctNumber" type="tns:getCustomerDetailsWithAcctNumber" />
  <xs:element name="getCustomerDetailsWithAcctNumberResponse" type="tns:getCustomerDetailsWithAcctNumberResponse" />
  <xs:element name="getCustomerDetailsbyShortName" type="tns:getCustomerDetailsbyShortName" />
  <xs:element name="getCustomerDetailsbyShortNameResponse" type="tns:getCustomerDetailsbyShortNameResponse" />
  <xs:element name="getCustomerDetailsbyPhoneNumber" type="tns:getCustomerDetailsbyPhoneNumber" />
  <xs:element name="getCustomerDetailsbyPhoneNumberResponse" type="tns:getCustomerDetailsbyPhoneNumberResponse" />
  <xs:element name="getCustomerDetailswithFirstandLast" type="tns:getCustomerDetailswithFirstandLast" />
  <xs:element name="getCustomerDetailswithFirstandLastResponse" type="tns:getCustomerDetailswithFirstandLastResponse" />
  <xs:element name="getLoanList" type="tns:getLoanList" />
  <xs:element name="getLoanListResponse" type="tns:getLoanListResponse" />
  <xs:element name="getMangersChequeStatus" type="tns:getMangersChequeStatus" />
  <xs:element name="getMangersChequeStatusInfo" type="tns:getMangersChequeStatusInfo" />
  <xs:element name="getMangersChequeStatusInfoResponse" type="tns:getMangersChequeStatusInfoResponse" />
  <xs:element name="getMangersChequeStatusResponse" type="tns:getMangersChequeStatusResponse" />
  <xs:element name="getOverDraftList" type="tns:getOverDraftList" />
  <xs:element name="getOverDraftListResponse" type="tns:getOverDraftListResponse" />
  <xs:element name="getSingleTransactionDetails" type="tns:getSingleTransactionDetails" />
  <xs:element name="getSingleTransactionDetailsResponse" type="tns:getSingleTransactionDetailsResponse" />
  <xs:element name="getcicRecord" type="tns:getcicRecord" />
  <xs:element name="getcicRecordResponse" type="tns:getcicRecordResponse" />
  <xs:element name="getGlForTerminal" type="tns:getGlForTerminal" />
  <xs:element name="getGlForTerminalResponse" type="tns:getGlForTerminalResponse" />
  <xs:complexType name="getSingleTransactionDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCTNO" type="xs:string" />
      <xs:element minOccurs="0" name="TranDate" type="xs:string" />
      <xs:element minOccurs="0" name="RowId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSingleTransactionDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:singleTransactionDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="singleTransactionDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
      <xs:element minOccurs="0" name="amount" type="xs:string" />
      <xs:element minOccurs="0" name="batchNumber" type="xs:string" />
      <xs:element minOccurs="0" name="branchName" type="xs:string" />
      <xs:element minOccurs="0" name="controlBatchNumber" type="xs:string" />
      <xs:element minOccurs="0" name="currency" type="xs:string" />
      <xs:element minOccurs="0" name="datePost" type="xs:string" />
      <xs:element minOccurs="0" name="messageTypeCode" type="xs:string" />
      <xs:element minOccurs="0" name="referenceNo" type="xs:string" />
      <xs:element minOccurs="0" name="rowID" type="xs:string" />
      <xs:element minOccurs="0" name="transactionCode" type="xs:string" />
      <xs:element minOccurs="0" name="transactionDateTime" type="xs:string" />
      <xs:element minOccurs="0" name="transactionName" type="xs:string" />
      <xs:element minOccurs="0" name="transactionNameDesc" type="xs:string" />
      <xs:element minOccurs="0" name="transactionOfficerAuthorizer" type="xs:string" />
      <xs:element minOccurs="0" name="transactionOfficerInputter" type="xs:string" />
      <xs:element minOccurs="0" name="transactionType" type="xs:string" />
      <xs:element minOccurs="0" name="trnasactionDescription" type="xs:string" />
      <xs:element minOccurs="0" name="valueDate" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountSummaryANDTxnGeneric">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCTNO" type="xs:string" />
      <xs:element minOccurs="0" name="STARTDATE" type="xs:string" />
      <xs:element minOccurs="0" name="ENDDATE" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountSummaryANDTxnGenericResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:customerAcctsWithTranInfoWithBranchGeneric" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerAcctsWithTranInfoWithBranchGeneric">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="acctsumm" nillable="true" type="tns:customerAcctsWithTransactionsGeneric" />
      <xs:element minOccurs="0" name="customerID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerAcctsWithTransactionsGeneric">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNo" type="xs:string" />
      <xs:element minOccurs="0" name="accountcurrency" type="xs:string" />
      <xs:element minOccurs="0" name="accountname" type="xs:string" />
      <xs:element minOccurs="0" name="accountproduct" type="xs:string" />
      <xs:element minOccurs="0" name="accountstatus" type="xs:string" />
      <xs:element minOccurs="0" name="amountHold" type="xs:string" />
      <xs:element minOccurs="0" name="availabletowithdraw" type="xs:string" />
      <xs:element minOccurs="0" name="clearedBalance" type="xs:string" />
      <xs:element minOccurs="0" name="closingBalance" type="xs:string" />
      <xs:element minOccurs="0" name="lodgements" type="xs:string" />
      <xs:element minOccurs="0" name="netbalance" type="xs:string" />
      <xs:element minOccurs="0" name="noofLodgements" type="xs:string" />
      <xs:element minOccurs="0" name="noofWithdrawals" type="xs:string" />
      <xs:element minOccurs="0" name="openingBalance" type="xs:string" />
      <xs:element minOccurs="0" name="totalbalance" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tranDetails" nillable="true" type="tns:tranDetailsGeneric" />
      <xs:element minOccurs="0" name="unclearedBalance" type="xs:string" />
      <xs:element minOccurs="0" name="withdrawals" type="xs:string" />
      <xs:element minOccurs="0" name="dAUE" type="xs:string" />
      <xs:element minOccurs="0" name="flgempacct" type="xs:string" />
      <xs:element minOccurs="0" name="flgstaff" type="xs:string" />
      <xs:element minOccurs="0" name="oDLimit" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tranDetailsGeneric">
    <xs:sequence>
      <xs:element minOccurs="0" name="desc" type="xs:string" />
      <xs:element minOccurs="0" name="lodgement" type="xs:string" />
      <xs:element minOccurs="0" name="refNo" type="xs:string" />
      <xs:element minOccurs="0" name="tranCurr" type="xs:string" />
      <xs:element minOccurs="0" name="tranLiteral" type="xs:string" />
      <xs:element minOccurs="0" name="txnNemonic" type="xs:string" />
      <xs:element minOccurs="0" name="valueDate" type="xs:string" />
      <xs:element minOccurs="0" name="withdraw" type="xs:string" />
      <xs:element minOccurs="0" name="xrownumber" type="xs:string" />
      <xs:element minOccurs="0" name="xybalance" type="xs:string" />
      <xs:element minOccurs="0" name="branchid" type="xs:string" />
      <xs:element minOccurs="0" name="branchname" type="xs:string" />
      <xs:element minOccurs="0" name="tDate" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountSearchByAcctTitleAndBranchCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCTTITLE" type="xs:string" />
      <xs:element minOccurs="0" name="BRNCODE" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountSearchByAcctTitleAndBranchCodeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:accountSearchInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accountSearchInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="accountSearchByAcctTitle" nillable="true" type="tns:accountSearchByAcctTitle" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accountSearchByAcctTitle">
    <xs:sequence>
      <xs:element minOccurs="0" name="currencyCode" type="xs:string" />
      <xs:element minOccurs="0" name="currencyDesc" type="xs:string" />
      <xs:element minOccurs="0" name="accountname" type="xs:string" />
      <xs:element minOccurs="0" name="accountno" type="xs:string" />
      <xs:element minOccurs="0" name="cod_prod" type="xs:string" />
      <xs:element minOccurs="0" name="customerid" type="xs:string" />
      <xs:element minOccurs="0" name="dateopened" type="xs:string" />
      <xs:element minOccurs="0" name="nam_product" type="xs:string" />
      <xs:element minOccurs="0" name="ref_cust_email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountSerachByAccountTitle">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCTTITLE" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountSerachByAccountTitleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:accountSearchInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerDetailsbyShortName">
    <xs:sequence>
      <xs:element minOccurs="0" name="shortName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerDetailsbyShortNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:clientDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerDetailsbyPhoneNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerDetailsbyPhoneNumberResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:clientDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clientDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="branchName" type="xs:string" />
      <xs:element minOccurs="0" name="businessCategory" type="xs:string" />
      <xs:element minOccurs="0" name="businessRegNo" type="xs:string" />
      <xs:element minOccurs="0" name="custEmail" type="xs:string" />
      <xs:element minOccurs="0" name="custFax" type="xs:string" />
      <xs:element minOccurs="0" name="custNationality" type="xs:string" />
      <xs:element minOccurs="0" name="custPhone" type="xs:string" />
      <xs:element minOccurs="0" name="custType" type="xs:string" />
      <xs:element minOccurs="0" name="custid" type="xs:string" />
      <xs:element minOccurs="0" name="customerName" type="xs:string" />
      <xs:element minOccurs="0" name="datCustOpen" type="xs:string" />
      <xs:element minOccurs="0" name="dateIncoporated" type="xs:string" />
      <xs:element minOccurs="0" name="dateOfBirth" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="director1" type="xs:string" />
      <xs:element minOccurs="0" name="director2" type="xs:string" />
      <xs:element minOccurs="0" name="director3" type="xs:string" />
      <xs:element minOccurs="0" name="director4" type="xs:string" />
      <xs:element minOccurs="0" name="director5" type="xs:string" />
      <xs:element minOccurs="0" name="flgCustType" type="xs:string" />
      <xs:element minOccurs="0" name="gender" type="xs:string" />
      <xs:element minOccurs="0" name="maillingAddress" type="xs:string" />
      <xs:element minOccurs="0" name="maritalStatus" type="xs:string" />
      <xs:element minOccurs="0" name="nationalityID" type="xs:string" />
      <xs:element minOccurs="0" name="permanentAddress" type="xs:string" />
      <xs:element minOccurs="0" name="signatory1" type="xs:string" />
      <xs:element minOccurs="0" name="signatory2" type="xs:string" />
      <xs:element minOccurs="0" name="signatory3" type="xs:string" />
      <xs:element minOccurs="0" name="signatory4" type="xs:string" />
      <xs:element minOccurs="0" name="signatory5" type="xs:string" />
      <xs:element minOccurs="0" name="spouseName" type="xs:string" />
      <xs:element minOccurs="0" name="mISCODE1" type="xs:string" />
      <xs:element minOccurs="0" name="mISCODE2" type="xs:string" />
      <xs:element minOccurs="0" name="mISCODE3" type="xs:string" />
      <xs:element minOccurs="0" name="mISCODE4" type="xs:string" />
      <xs:element minOccurs="0" name="mISCODE5" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOverDraftList">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOverDraftListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:overdraftList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="overdraftList">
    <xs:sequence>
      <xs:element minOccurs="0" name="amt_drawing_power" type="xs:string" />
      <xs:element minOccurs="0" name="amt_limit" type="xs:string" />
      <xs:element minOccurs="0" name="bal_available" type="xs:string" />
      <xs:element minOccurs="0" name="cod_acct_no" type="xs:string" />
      <xs:element minOccurs="0" name="cod_acct_title" type="xs:string" />
      <xs:element minOccurs="0" name="cod_limit_no" type="xs:string" />
      <xs:element minOccurs="0" name="dat_limit_end" type="xs:string" />
      <xs:element minOccurs="0" name="dat_limit_start" type="xs:string" />
      <xs:element minOccurs="0" name="rat_int" type="xs:string" />
      <xs:element minOccurs="0" name="rat_int_effective" type="xs:string" />
      <xs:element minOccurs="0" name="rat_var_od" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getMangersChequeStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="typ_instr" type="xs:string" />
      <xs:element minOccurs="0" name="cod_routing_instr" type="xs:string" />
      <xs:element minOccurs="0" name="ref_instr_no_stno" type="xs:string" />
      <xs:element minOccurs="0" name="amt_instr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getMangersChequeStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getcicRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="cic" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getcicRecordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getChequeNumberInquiry">
    <xs:sequence>
      <xs:element minOccurs="0" name="strAccountNo" type="xs:string" />
      <xs:element minOccurs="0" name="strChequeNo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getChequeNumberInquiryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountSummaryANDTransactions">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCTNO" type="xs:string" />
      <xs:element minOccurs="0" name="STARTDATE" type="xs:string" />
      <xs:element minOccurs="0" name="ENDDATE" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountSummaryANDTransactionsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:customerAcctsWithTransactionInfoWithBranch" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerAcctsWithTransactionInfoWithBranch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="acctsumm" nillable="true" type="tns:customerAcctsWithTransactionsWithBranch" />
      <xs:element minOccurs="0" name="customerID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerAcctsWithTransactionsWithBranch">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNo" type="xs:string" />
      <xs:element minOccurs="0" name="accountcurrency" type="xs:string" />
      <xs:element minOccurs="0" name="accountname" type="xs:string" />
      <xs:element minOccurs="0" name="accountproduct" type="xs:string" />
      <xs:element minOccurs="0" name="accountstatus" type="xs:string" />
      <xs:element minOccurs="0" name="amountHold" type="xs:string" />
      <xs:element minOccurs="0" name="availabletowithdraw" type="xs:string" />
      <xs:element minOccurs="0" name="clearedBalance" type="xs:string" />
      <xs:element minOccurs="0" name="closingBalance" type="xs:string" />
      <xs:element minOccurs="0" name="lodgements" type="xs:string" />
      <xs:element minOccurs="0" name="netbalance" type="xs:string" />
      <xs:element minOccurs="0" name="noofLodgements" type="xs:string" />
      <xs:element minOccurs="0" name="noofWithdrawals" type="xs:string" />
      <xs:element minOccurs="0" name="openingBalance" type="xs:string" />
      <xs:element minOccurs="0" name="totalbalance" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tranDetails" nillable="true" type="tns:tranDetailsWithBranch" />
      <xs:element minOccurs="0" name="unclearedBalance" type="xs:string" />
      <xs:element minOccurs="0" name="withdrawals" type="xs:string" />
      <xs:element minOccurs="0" name="dAUE" type="xs:string" />
      <xs:element minOccurs="0" name="flgempacct" type="xs:string" />
      <xs:element minOccurs="0" name="flgstaff" type="xs:string" />
      <xs:element minOccurs="0" name="oDLimit" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tranDetailsWithBranch">
    <xs:sequence>
      <xs:element minOccurs="0" name="desc" type="xs:string" />
      <xs:element minOccurs="0" name="lodgement" type="xs:string" />
      <xs:element minOccurs="0" name="refNo" type="xs:string" />
      <xs:element minOccurs="0" name="valueDate" type="xs:string" />
      <xs:element minOccurs="0" name="withdraw" type="xs:string" />
      <xs:element minOccurs="0" name="xrownumber" type="xs:string" />
      <xs:element minOccurs="0" name="xybalance" type="xs:string" />
      <xs:element minOccurs="0" name="branchid" type="xs:string" />
      <xs:element minOccurs="0" name="branchname" type="xs:string" />
      <xs:element minOccurs="0" name="tDate" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerDetailswithFirstandLast">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerDetailswithFirstandLastResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:clientDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerDetailsWithAcctNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCTSNO" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerDetailsWithAcctNumberResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:clientDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="staffId" type="xs:string" />
      <xs:element minOccurs="0" name="event" type="xs:string" />
      <xs:element minOccurs="0" name="createdBy" type="xs:string" />
      <xs:element minOccurs="0" name="eventRef" type="xs:string" />
      <xs:element minOccurs="0" name="serverIp" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createLogResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCustomerAcctsDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCTSNO" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerAcctsDetailResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:customerAcctsDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerAcctsDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountName" type="xs:string" />
      <xs:element minOccurs="0" name="accountOfficer" type="xs:string" />
      <xs:element minOccurs="0" name="accountStatus" type="xs:string" />
      <xs:element minOccurs="0" name="amountCreditMTD" type="xs:string" />
      <xs:element minOccurs="0" name="amountCreditYTD" type="xs:string" />
      <xs:element minOccurs="0" name="amountDebitMTD" type="xs:string" />
      <xs:element minOccurs="0" name="amountDebitYTD" type="xs:string" />
      <xs:element minOccurs="0" name="amountHold" type="xs:string" />
      <xs:element minOccurs="0" name="amountLastCredit" type="xs:string" />
      <xs:element minOccurs="0" name="amountLastDebit" type="xs:string" />
      <xs:element minOccurs="0" name="availableBalance" type="xs:string" />
      <xs:element minOccurs="0" name="bookBalance" type="xs:string" />
      <xs:element minOccurs="0" name="branchCode" type="xs:string" />
      <xs:element minOccurs="0" name="branchName" type="xs:string" />
      <xs:element minOccurs="0" name="currency" type="xs:string" />
      <xs:element minOccurs="0" name="currencyCode" type="xs:string" />
      <xs:element minOccurs="0" name="custID" type="xs:string" />
      <xs:element minOccurs="0" name="customerName" type="xs:string" />
      <xs:element minOccurs="0" name="dateOpened" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="interestPaidYTD" type="xs:string" />
      <xs:element minOccurs="0" name="interestReceivedYTD" type="xs:string" />
      <xs:element minOccurs="0" name="lastCreditDate" type="xs:string" />
      <xs:element minOccurs="0" name="lastCreditInterestAccrued" type="xs:string" />
      <xs:element minOccurs="0" name="lastDebitDate" type="xs:string" />
      <xs:element minOccurs="0" name="lastDebitInterestAccrued" type="xs:string" />
      <xs:element minOccurs="0" name="lastMaintainedBy" type="xs:string" />
      <xs:element minOccurs="0" name="lastSerialofCheque" type="xs:string" />
      <xs:element minOccurs="0" name="lastUsedChequeNo" type="xs:string" />
      <xs:element minOccurs="0" name="maintenanceAuthorizedBy" type="xs:string" />
      <xs:element minOccurs="0" name="phone" type="xs:string" />
      <xs:element minOccurs="0" name="productCode" type="xs:string" />
      <xs:element minOccurs="0" name="productName" type="xs:string" />
      <xs:element minOccurs="0" name="profitCenter" type="xs:string" />
      <xs:element minOccurs="0" name="serviceChargeYTD" type="xs:string" />
      <xs:element minOccurs="0" name="staff" type="xs:string" />
      <xs:element minOccurs="0" name="unavailableBalance" type="xs:string" />
      <xs:element minOccurs="0" name="aTMStatus" type="xs:string" />
      <xs:element minOccurs="0" name="dAUEEndDate" type="xs:string" />
      <xs:element minOccurs="0" name="dAUELimit" type="xs:string" />
      <xs:element minOccurs="0" name="dAUEStartDate" type="xs:string" />
      <xs:element minOccurs="0" name="oDLimit" type="xs:string" />
      <xs:element minOccurs="0" name="strAdd1" type="xs:string" />
      <xs:element minOccurs="0" name="strAdd2" type="xs:string" />
      <xs:element minOccurs="0" name="strAdd3" type="xs:string" />
      <xs:element minOccurs="0" name="strCity" type="xs:string" />
      <xs:element minOccurs="0" name="strCountry" type="xs:string" />
      <xs:element minOccurs="0" name="strState" type="xs:string" />
      <xs:element minOccurs="0" name="strZip" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountSummaryByCustomerID">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountSummaryByCustomerIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:customerAcctsInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerAcctsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="acctsumm" nillable="true" type="tns:customerAccts" />
      <xs:element minOccurs="0" name="customerID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerAccts">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNo" type="xs:string" />
      <xs:element minOccurs="0" name="accountcurrency" type="xs:string" />
      <xs:element minOccurs="0" name="accountname" type="xs:string" />
      <xs:element minOccurs="0" name="accountproduct" type="xs:string" />
      <xs:element minOccurs="0" name="accountstatus" type="xs:string" />
      <xs:element minOccurs="0" name="amountHold" type="xs:string" />
      <xs:element minOccurs="0" name="availabletowithdraw" type="xs:string" />
      <xs:element minOccurs="0" name="clearedBalance" type="xs:string" />
      <xs:element minOccurs="0" name="closingBalance" type="xs:string" />
      <xs:element minOccurs="0" name="dateOpened" type="xs:string" />
      <xs:element minOccurs="0" name="hasCOT" type="xs:string" />
      <xs:element minOccurs="0" name="hasIMAGE" type="xs:string" />
      <xs:element minOccurs="0" name="lodgements" type="xs:string" />
      <xs:element minOccurs="0" name="netbalance" type="xs:string" />
      <xs:element minOccurs="0" name="noofLodgements" type="xs:string" />
      <xs:element minOccurs="0" name="noofWithdrawals" type="xs:string" />
      <xs:element minOccurs="0" name="openingBalance" type="xs:string" />
      <xs:element minOccurs="0" name="totalbalance" type="xs:string" />
      <xs:element minOccurs="0" name="unclearedBalance" type="xs:string" />
      <xs:element minOccurs="0" name="withdrawals" type="xs:string" />
      <xs:element minOccurs="0" name="dAUE" type="xs:string" />
      <xs:element minOccurs="0" name="flgempacct" type="xs:string" />
      <xs:element minOccurs="0" name="flgstaff" type="xs:string" />
      <xs:element minOccurs="0" name="oDLimit" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGlForTerminal">
    <xs:sequence>
      <xs:element minOccurs="0" name="terminalId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGlForTerminalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:glTerminalDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="glTerminalDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="cashGL" type="xs:string" />
      <xs:element minOccurs="0" name="channel" type="xs:string" />
      <xs:element minOccurs="0" name="orgBRN" type="xs:string" />
      <xs:element minOccurs="0" name="termAddr" type="xs:string" />
      <xs:element minOccurs="0" name="terminalID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:clientDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBranchList">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getBranchListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:branchList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="branchList">
    <xs:sequence>
      <xs:element minOccurs="0" name="branchCode" type="xs:string" />
      <xs:element minOccurs="0" name="branchName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getMangersChequeStatusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="typ_instr" type="xs:string" />
      <xs:element minOccurs="0" name="cod_routing_instr" type="xs:string" />
      <xs:element minOccurs="0" name="ref_instr_no_stno" type="xs:string" />
      <xs:element minOccurs="0" name="amt_instr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getMangersChequeStatusInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:managersChequeDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="managersChequeDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNo" type="xs:string" />
      <xs:element minOccurs="0" name="amount" type="xs:string" />
      <xs:element minOccurs="0" name="beneficiary" type="xs:string" />
      <xs:element minOccurs="0" name="chequeNo" type="xs:string" />
      <xs:element minOccurs="0" name="sortCode" type="xs:string" />
      <xs:element minOccurs="0" name="tranCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameEnquiry">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCTSNO" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameEnquiryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:nameEnquiryResponses" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nameEnquiryResponses">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountCurrency" type="xs:string" />
      <xs:element minOccurs="0" name="accountOfficer" type="xs:string" />
      <xs:element minOccurs="0" name="accountType" type="xs:string" />
      <xs:element minOccurs="0" name="countryCode" type="xs:string" />
      <xs:element minOccurs="0" name="customerAddress" type="tns:customerAddress" />
      <xs:element minOccurs="0" name="customerID" type="xs:string" />
      <xs:element minOccurs="0" name="customerNames" type="tns:customerNames" />
      <xs:element minOccurs="0" name="customerPhoneNo" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="responseCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="addrLine1" type="xs:string" />
      <xs:element minOccurs="0" name="addrLine2" type="xs:string" />
      <xs:element minOccurs="0" name="city" type="xs:string" />
      <xs:element minOccurs="0" name="postalCode" type="xs:string" />
      <xs:element minOccurs="0" name="stateCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerNames">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" type="xs:string" />
      <xs:element minOccurs="0" name="otherNames" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getActivityLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="startDate" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getActivityLogResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:auditInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="auditInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="createdBY" type="xs:string" />
      <xs:element minOccurs="0" name="dateCreated" type="xs:string" />
      <xs:element minOccurs="0" name="event" type="xs:string" />
      <xs:element minOccurs="0" name="serverIP" type="xs:string" />
      <xs:element minOccurs="0" name="staffID" type="xs:string" />
      <xs:element minOccurs="0" name="tranref" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccounMemoInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccounMemoInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:accountMemoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accountMemoInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="accountMemo" nillable="true" type="tns:accountMemo" />
      <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accountMemo">
    <xs:sequence>
      <xs:element minOccurs="0" name="memoInfo" type="xs:string" />
      <xs:element minOccurs="0" name="cod_last_mnt_chkrid" type="xs:string" />
      <xs:element minOccurs="0" name="cod_last_mnt_makerid" type="xs:string" />
      <xs:element minOccurs="0" name="custid" type="xs:string" />
      <xs:element minOccurs="0" name="datlastmnt" type="xs:string" />
      <xs:element minOccurs="0" name="severity" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCTSNO" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountSummaryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:customerAcctsInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLoanList">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLoanListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:loanList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loanList">
    <xs:sequence>
      <xs:element minOccurs="0" name="balance" type="xs:string" />
      <xs:element minOccurs="0" name="brncode" type="xs:string" />
      <xs:element minOccurs="0" name="casa" type="xs:string" />
      <xs:element minOccurs="0" name="dat_of_maturity" type="xs:string" />
      <xs:element minOccurs="0" name="eff_rate" type="xs:string" />
      <xs:element minOccurs="0" name="ln_account_no" type="xs:string" />
      <xs:element minOccurs="0" name="loan_amt" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="prod_code" type="xs:string" />
      <xs:element minOccurs="0" name="prod_name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getActivityLogSpecific">
    <xs:sequence>
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="startDate" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getActivityLogSpecificResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:auditInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountSerachByAccountNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCTNUMBER" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountSerachByAccountNumberResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:accountSearchInfo" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>