UnionMall/Service References/ADServiceRef/Administration3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UBN.AuthenticationViaAD.Cls" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UBN.AuthenticationViaAD.Cls" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Module">
    <xs:sequence>
      <xs:element name="_x003C_ClientIp_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CreatedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DateCreated_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_DateUpdated_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_InHouse_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsEnabled_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ModuleDesc_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ModuleId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Owner_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TwoFactorClassId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UpdatedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Xguid_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Module" nillable="true" type="tns:Module" />
  <xs:complexType name="ArrayOfModule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Module" nillable="true" type="tns:Module" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModule" nillable="true" type="tns:ArrayOfModule" />
  <xs:complexType name="BranchReportLine">
    <xs:sequence>
      <xs:element name="_x003C_BdmEmail_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BranchCode_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_CsoEmail_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EdEmail_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_HboEmail_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RgEmail_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ZcEmail_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ZoneName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BranchReportLine" nillable="true" type="tns:BranchReportLine" />
  <xs:complexType name="ModuleMin">
    <xs:sequence>
      <xs:element name="_x003C_ClientIp_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CreatedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_InHouse_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsEnabled_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ModuleDesc_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ModuleId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Owner_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TwoFactorClassId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UpdatedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Xguid_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleMin" nillable="true" type="tns:ModuleMin" />
</xs:schema>