UnionMall/Service References/ADServiceRef/Administration1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UBN.Security.Sms" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UBN.Security.Sms" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="UserProfile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CustomProfile">
        <xs:sequence>
          <xs:element minOccurs="0" name="ADUserID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmployeeId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FCUBSUserID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GradeLevel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Initials" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TelephoneNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserProfile" nillable="true" type="tns:UserProfile" />
  <xs:complexType name="CustomProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LimitAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Misc1" type="xs:decimal" />
      <xs:element minOccurs="0" name="Misc2" type="xs:int" />
      <xs:element minOccurs="0" name="Misc3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Misc4" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrgID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TillAccountNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAccessMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomProfile" nillable="true" type="tns:CustomProfile" />
  <xs:complexType name="ArrayOfUserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserProfile" nillable="true" type="tns:UserProfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserProfile" nillable="true" type="tns:ArrayOfUserProfile" />
  <xs:complexType name="ArrayOfUserRoleEventStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRoleEventStatus" nillable="true" type="tns:UserRoleEventStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRoleEventStatus" nillable="true" type="tns:ArrayOfUserRoleEventStatus" />
  <xs:complexType name="UserRoleEventStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateAuthorized" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MakerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRoleEventStatus" nillable="true" type="tns:UserRoleEventStatus" />
</xs:schema>