UnionMall/Service References/EmailServiceReference/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmailService.Cls" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmailService.Cls" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMyAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyAttachment" nillable="true" type="tns:MyAttachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyAttachment" nillable="true" type="tns:ArrayOfMyAttachment" />
  <xs:complexType name="MyAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileContent" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyAttachment" nillable="true" type="tns:MyAttachment" />
  <xs:complexType name="ArrayOfInlineAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InlineAttachment" nillable="true" type="tns:InlineAttachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInlineAttachment" nillable="true" type="tns:ArrayOfInlineAttachment" />
  <xs:complexType name="InlineAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileContent" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InlineAttachment" nillable="true" type="tns:InlineAttachment" />
</xs:schema>