UnionMall/Service References/EmailServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ubniisapps:8141/EmailService/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ubn.Services.EmailService.Cls" />
  <xs:element name="SendAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ubn.Services.EmailService.Cls" minOccurs="0" name="Msgdtls" nillable="true" type="q1:EmailAlert.MsgDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAlertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>